.aboutHero{

padding:170px 8% 100px;

background:linear-gradient(135deg,#F7FAFF,#EEF4FF);

overflow:hidden;

position:relative;

}

.aboutHero::before{

content:"";

position:absolute;

width:400px;

height:400px;

background:#5B3DF520;

border-radius:50%;

top:-150px;

right:-120px;

filter:blur(90px);

}

.aboutContainer{

max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

position:relative;

z-index:2;

}

.aboutTag{

display:inline-block;

padding:10px 24px;

background:#EEF2FF;

color:#5B3DF5;

border-radius:40px;

font-weight:600;

margin-bottom:20px;

}

.aboutLeft h1{

font-size:58px;

line-height:1.2;

color:#111827;

margin-bottom:25px;

}

.aboutLeft p{

font-size:18px;

line-height:32px;

color:#6B7280;

margin-bottom:35px;

}

.heroFeatures{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

margin-bottom:35px;

}

.heroFeatures div{

display:flex;

align-items:center;

gap:12px;

font-size:17px;

font-weight:500;

color:#374151;

}

.heroFeatures svg{

color:#5B3DF5;

font-size:22px;

}

.aboutBtn{

padding:18px 34px;

border:none;

background:linear-gradient(90deg,#5B3DF5,#00C6FF);

color:white;

font-size:17px;

font-weight:600;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.aboutBtn:hover{

transform:translateY(-5px);

box-shadow:0 18px 40px rgba(91,61,245,.3);

}

.aboutRight{

position:relative;

}

.aboutRight img{

width:100%;

animation:float 5s ease-in-out infinite;

}

.floatingBox{

position:absolute;

background:#fff;

padding:18px 22px;

border-radius:16px;

box-shadow:0 20px 50px rgba(0,0,0,.08);

text-align:center;

}

.one{

top:5%;

left:-20px;

}

.two{

right:-20px;

top:45%;

}

.three{

bottom:5%;

left:20%;

}

.floatingBox h3{

font-size:30px;

color:#5B3DF5;

margin-bottom:6px;

}

.floatingBox p{

font-size:14px;

color:#666;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}

@media(max-width:992px){

.aboutContainer{

grid-template-columns:1fr;

text-align:center;

}

.heroFeatures{

grid-template-columns:1fr;

}

.aboutLeft h1{

font-size:42px;

}

}

@media(max-width:576px){

.aboutHero{

padding:130px 20px 80px;

}

.aboutLeft h1{

font-size:34px;

}

.aboutLeft p{

font-size:16px;

line-height:28px;

}

.heroFeatures{

gap:14px;

}

}