.locations{

padding:110px 8%;

background:#f8f9fc;

}

.locationHeading{

text-align:center;

margin-bottom:70px;

}

.locationHeading span{

background:#EEF2FF;

padding:10px 20px;

border-radius:30px;

color:#5B3DF5;

font-weight:600;

}

.locationHeading h2{

font-size:48px;

margin:20px 0;

}

.locationHeading p{

max-width:650px;

margin:auto;

line-height:30px;

color:#666;

}

.locationGrid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

gap:30px;

}

.locationCard{

position:relative;

height:420px;

border-radius:25px;

overflow:hidden;

cursor:pointer;

}

.locationCard img{

width:100%;

height:100%;

object-fit:cover;

transition:.6s;

}

.locationCard:hover img{

transform:scale(1.12);

}

.locationOverlay{

position:absolute;

inset:0;

background:linear-gradient(
180deg,
transparent,
rgba(0,0,0,.85)
);

display:flex;

justify-content:space-between;

align-items:flex-end;

padding:30px;

color:white;

}

.locationOverlay h3{

font-size:30px;

margin-bottom:12px;

}

.locationOverlay p{

display:flex;

align-items:center;

gap:10px;

margin-bottom:10px;

}

.locationOverlay span{

font-size:18px;

font-weight:600;

color:#FFD54F;

}

.locationOverlay button{

border:none;

background:#5B3DF5;

color:white;

padding:14px 22px;

border-radius:12px;

cursor:pointer;

display:flex;

align-items:center;

gap:10px;

transition:.3s;

}

.locationOverlay button:hover{

background:#4325dd;

}

@media(max-width:768px){

.locationHeading h2{

font-size:36px;

}

.locationOverlay{

flex-direction:column;

align-items:flex-start;

gap:20px;

}

}